#include "resource.h"

#define IDC_BUTTON1 3001
#define IDC_BUTTON2 3002
#define IDC_EXIT 3003
MyDialog DIALOG 10,10,100,60
STYLE 0x0004 | DS_CENTER | WS_CAPTION | WS_MINIMIZEBOX |
WS_SYSMENU | WS_VISIBLE | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK
CAPTION "War2BNE loader by end3r"
BEGIN
	DEFPUSHBUTTON "Load War2BNE", IDC_BUTTON1, 5,5,90,13
	PUSHBUTTON "Load and Patch War2BNE", IDC_BUTTON2, 5,25,90,13
	PUSHBUTTON "E&xit", IDC_EXIT, 5,45,90,13, WS_GROUP
END 